.testimonials {
    color: #343a40;
    padding: 100px 20px;
    text-align: center;
    background-color: #fff;
    opacity: 1;
    background-image:  radial-gradient(#007bff 0.8px, transparent 0.8px), radial-gradient(#007bff 0.8px, #fff 0.8px);
    background-size: 32px 32px;
    background-position: 0 0,16px 16px;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  
  .testimonial-cards {
    display: flex;
    justify-content: center;
  }
  
  .testimonial-card {
    background-color: #c6e1ff;
    border: 3px solid #007bff;
    border-radius: 5px;
    padding: 20px;
    margin: 0 20px;
    width: 300px;
  }
  
  .testimonial-card p {
    font-size: 1rem;
  }
  
  .testimonial-author {
    font-style: italic;
    margin-top: 20px;
  }
  